<div class="card sadow">
	<h1><%= @appointment.patient.name %></h1>
	<p>give a recommendation to the patient</p>

	<%= form_with model: @appointment do |f| %>

	  <%= f.label :recommendation %>:
	  <%= f.text_field :recommendation %>

	  <%= f.submit "save this recommendation", class: "btn btn-primary" %>
	<% end %>
</div>
