<!DOCTYPE html>
<html>
  <head>
    <title>ClinicManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <div class="container">
      <div class="card sadow">
        <div class="row">
          <div class="col" >
            <%= link_to 'Home', root_path, class: " border bg-light" %>
          </div>

          <div class="col-3">
            <% if user_signed_in? %>
              Hello: <%= current_user.phone_number %>
              <%= link_to "Exit", destroy_user_session_path, method: 'delete',
                class: "border bg-light" %>
            <% else %>
              <%= link_to "Sign in", new_user_session_path,
                class: "border bg-light" %>
              <%= link_to "Sign up", new_user_registration_path,
                class: "border bg-light" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </head>

  <body>
    <div class="container">
        <%= yield %>
    </div>
  </body>
</html>
